#mainDisRow1 {
    /* border: 0.5px solid black; */
    height: 150px;
}
#mainDisRow2 {
    /* border: 0.5px solid black; */
    height: 150px;
}
#mainDisRow3 {
    /* border: 0.5px solid black; */
    height: 150px;
}
